<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="ko">
<head>
    <th:block th:replace="~{fragment/commonHead :: commonHead}"></th:block>
    <th:block th:replace="~{fragment/commonScript :: commonScript}"></th:block>
</head>
<body>
<div class="wrap">
    <div class="content">
        <!-- sub_tit -->
        <div class="sub_tit">
            <div class="hr"></div>
            <h4 th:text="${metaTit}"></h4>
        </div>
        <!-- //sub_tit -->

        <!-- content -->
        <th:block layout:fragment="content"></th:block>
        <!-- //content -->
    </div>

    <!-- footer -->
    <th:block th:replace="~{fragment/footer :: footer}"></th:block>
    <!-- //footer -->
</div>

<th:block layout:fragment="user_include"></th:block>
<th:block th:replace="~{fragment/layer :: body}"></th:block>
<th:block th:replace="~{fragment/session :: body}"></th:block>
<th:block layout:fragment="user_script"></th:block>
</body>
</html>
